<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.yhm.board.mapper.BoardMapper">

    <!-- TODO : board Map -->
    <resultMap type="boards" id="BoardMap">
        <id property="no" column="no" />
        <result property="no" column="no" />
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="writer" column="writer" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />

        <association property="file" column="no" javaType="Files" select="selectMainfile"></association>
    </resultMap>

    <!-- 메인(썸네일) 파일 조회 -->
    <select id="selectMainfile" resultType="Files">
        SELECT *
        FROM files
        WHERE p_no = #{no}
            AND p_table = 'boards'
            AND TYPE = 'MAIN'
    </select>


    <select id="list" resultMap="BoardMap">
        SELECT *
        FROM boards 
    </select>

    <!-- 🟡 페이징 처리 후 정렬을 적용 -->
    <!-- 이유 : 정렬 후 페이징을 하면, 완료 안된 것만 앞으로 나오니까 페이징 후 정렬을 적용함 -->

    <select id="select" resultType="boards">
        SELECT * 
        FROM boards
        WHERE no = #{no}
    </select>
    
    <select id="selectById" resultType="boards">
        SELECT * 
        FROM boards
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO boards(id, title,writer, content )
        VALUES ( #{id}, #{title}, #{writer}, #{content} )
    </insert>
 
    <update id="update">
        UPDATE boards
        <set>
            <if test="title != null">
                title = #{title}, 
            </if>
                
            <if test="writer != null">
                writer = #{writer}, 
            </if>
            <if test="content != null">
                content = #{content},
            </if>
                updated_at = now()
        </set>
         WHERE no = #{no}
    </update>

    <update id="updateById">
        UPDATE boards
        <set>
            <if test="title != null">
                title = #{title}, 
            </if>
                
            <if test="writer != null">
                writer = #{writer}, 
            </if>
            <if test="content != null">
                content = #{content},
            </if>
                updated_at = now()
        </set>
         WHERE id = #{id}
    </update>


    <delete id="delete">
        DELETE FROM boards
        WHERE no = #{no}
    </delete>

    <delete id="deleteById">
        DELETE FROM boards
        WHERE id = #{id}
    </delete>

    <!-- 전체 완료 -->
    <update id="completeAll">
        UPDATE boards
            SET status = true
    </update>

    <!-- 전체 삭제 -->
    <delete id="deleteAll">
        DELETE FROM boards
    </delete>





</mapper>